<div [attr.dir]="textService.rightJustify ? 'rtl' : 'ltr'">
<div class="col-12 selection-container">
    <div>
        <p *ngIf="!myCharts || myCharts.length === 0">
            {{pageText.noCharts}}
        </p>
        <p *ngIf="myCharts && myCharts.length > 0">
            {{pageText.chartsInfo}}
        </p>
    </div>
</div>
<div class="row m-b-20">
    <div class="col-12">
        <div *ngFor="let chart of myCharts; let i = index;" class="p-l-15">
            <span (click)="selectMyChart(chart)">{{chart.name}}</span>
            <span (click)="deleteMyChart(i)" class="remove-icon">&#215;</span><span (click)="shareMyChart(i)" class="remove-icon">{{pageText.share}}</span>
        </div>
    </div>
</div>
</div>