<div class="table-container">
    <div class="col-12">
        <span class="page-header">Our Mission</span>
        <p>
            {{appName}} is a free online product of the Health Foods Matrix LLC, established on September 2017. Our Mission is to help people find Health Foods and Natural Treatments especially when they have more than one health concern. This special feature is for making sure that while a food may help you with one ailment it would not aggravate your other health concerns.  
        </p>
    </div>
        <div class="col-12">
        <span class="page-header">Our Approach</span>
        <p>
            We collect, cross-exam and organize our information from a variety of sources that are cited for transparency and further search. When you search for treatments or health benefits, hundreds of pages of information will be summarized in a table of green (helpful) and red (side effects) symbols. The extensive information behind each symbol could be obtained by clicking on them.
        </p>
    </div>      
</div>
