<div [attr.dir]="textService.rightJustify ? 'rtl' : 'ltr'">
<div class="col-12 notice p-b-10" [class.rtl]="textService.rightJustify">
  {{pageText.languageInfo}}<br>
  <a class="bold" href="mailto:contact@healthfoodsmatrix.com"> {{pageText.contactUs}}</a>.
</div>
<div class="col-12 bold p-b-5">
  {{pageText.selectLanguage}}
</div>
<div class="selection-container" dir="ltr">
  <div class="checkbox-container">
    <div *ngFor="let lang of languageSet" class="p-l-15" [class.checked]="lang === selectedLang" (click)="changeLanguage(lang)">
      <span [id]="'item-' + lang">{{lang}}</span>
    </div>
  </div>
</div>
</div>