<div class="col-12 selection-container">
    <p>
        The contents of this web site are provided for general information and are not intended to offer medical advice, diagnose
        health problems or for treatment purposes. The information on this website is periodically updated but there is no
        guarantee it is correct or up-to-date. Health-Foods-for-Coexistent-Medical-Conditions.com does not accept any responsibility
        for any loss, which may arise from reliance on information contained on this site. The contents of this website are
        protected by copyright under international conventions and, apart from certain information that is allowed to be
        saved personal use, the reproduction of this website is prohibited without the prior written consent of Health-Foods-for-Coexistent-Medical-Conditions.com.
        Links are provided to the other websites cited as sources of information. These links are provided for your convenience
        and they do not imply a responsibility for or endorsement of the linked sites, their operators, or their contents.
        Health-Foods-for-Coexistent-Medical-Conditions.com takes no responsibility due to mistranslation of the text from
        English into other languages done by Google.
    </p>
</div>

<div class="row m-b-20">
    <div class="col-12 text-center">
        <button class="button" (click)="clickAgree()">I Agree</button>
    </div>
</div>