$nav-button-light: #4df0ff;
$nav-button-color: #00838F;
$nav-button-selected: #00464d;
$nav-button-disabled: gray;
$nav-button-food: #C5E0B4;
$nav-button-food-text: #385623;
$nav-button-condition: #F8CBAD;
$nav-button-condition-text: #C00000;
