@import 'variables';

h1 {
    color: white;
}

@media (max-width: 767px) { 
    h1 {
        font-size: 28px;
    }
}

.page-header {
    font-size: 16px;
    font-weight: 900;
    color: $nav-button-color;
}