@import '../../../../styles/variables';

.footer-links {
    text-align: center;
    font-size: 12px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.disclosure {
    text-align: center;
    font-size: 8px;
}

.footer {
    background: white;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}