@import '../../styles/variables';

.button-container {
    height: 60px;
}

.benefits-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.benefits-table {
    border: 1px solid #ccc;
    font-size: 12px;
}

.benefits-table th, .benefits-table tbody td {
    border: 1px solid #ccc;
    font-size: 12px;

    @media (max-width: 320px) { 
        font-size: 10px;
        max-width: 40px;
     }

    @media (min-width: 321px) and (max-width: 767px) { 
        max-width: 60px;
     }
}

.table-container {
    margin-top: 140px;
    margin-bottom: 20px;

}

.table-container-outer { position: relative; }

.table-container-fade-top
{
	position: fixed;
	top: 120px;
    left: 0;
	height: 20px;
	width: 100%;
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
	background-image: -ms-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
}

.table-container-fade-bottom
{
	position: fixed;
	bottom: 0;
    left: 0;
	height: 20px;
	width: 100%;
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
	background-image: -ms-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
}

.benefits-table tr {
    border-bottom: 1px solid #ddd;
}

.benefits-table tr:nth-child(odd) {
    background-color: #fff
}

.benefits-table tr:nth-child(even) {
    background-color: #f1f1f1
}

.row-selected {
    background-color: $nav-button-color !important;
}

.first-heading {
    text-align: left;      
}

.text-vertical {
    height: 150px;
    max-width: 16px !important;
    transform: translate(69px, 55px) rotate(270deg);
    white-space: nowrap;


    // text-align:center;
    // white-space:nowrap;
    // transform-origin:50% 50%;
    // -webkit-transform: rotate(270deg);
    // -moz-transform: rotate(270deg);
    // -ms-transform: rotate(270deg);
    // -o-transform: rotate(270deg);
    // transform: rotate(270deg);
    
}

.effect-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.legend-text {
    font-size: 12px;
    padding: 2px 0 2px 0;
    margin-left: 10px;
    color: white;
}

.button-container {
    height: 50px;
    padding-right: 15px;

    .button {
        float: left;
        width: 33.33%;
    }
}

.header {
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    left: 0;
    padding-left: 10px;
    z-index: 1;
}