@import '../../styles/variables';

.button-container {
    height: 60px;
    margin-bottom: 15px;
}

.benefits-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
    font-size: 12px;
}

.benefits-table thead th, .benefits-table tbody td {
    border: 1px solid #ccc;
    font-size: 12px;

    @media (max-width: 320px) { 
        font-size: 10px;
        max-width: 40px;
        min-width: 20px;
     }

    @media (min-width: 321px) and (max-width: 767px) { 
        max-width: 60px;
        min-width: 20px;
     }
}

.table-container {
    margin-bottom: 20px;
}

.benefits-table tr {
    border-bottom: 1px solid #ddd;
}

.benefits-table tr:nth-child(odd) {
    background-color: #fff
}

.benefits-table tr:nth-child(even) {
    background-color: #f1f1f1
}

.row-selected {
    background-color: $nav-button-light !important;
}

.column-selected {
    background-color: $nav-button-light !important;
}

// tr:hover {
//     background-color: $nav-button-color !important;
// }

.first-heading {
    text-align: left;      
}

.table-headings {
    @media (max-width: 414px) { 
        height: 120px;
        max-width: 1px !important;
        white-space: nowrap;
        transform: translate(95px, 55px) rotate(270deg);

        br {
            margin-top: -5px;
            display: block;
            content: "";
        }

        &.two-col {
            transform: translate(85px, 55px) rotate(270deg) !important;
        }
        &.three-col, &.four-col {
            transform: translate(75px, 55px) rotate(270deg) !important;
        }
        &.five-col, &.six-col, &.seven-col, &.eight-col {
            transform: translate(70px, 55px) rotate(270deg) !important;
        }
        &.nine-col, &.ten-col {
            transform: translate(65px, 55px) rotate(270deg) !important;
        }
    }
    @media (min-width: 415px) {    
        text-align: center;
        vertical-align: bottom;
    }
}


.table-headings-rtl {
    @media (max-width: 414px) { 
        height: 120px;
        max-width: 1px !important;
        white-space: nowrap;
        transform: translate(0px, -50px) rotate(270deg);
        
        &.two-col {
            transform: translate(10px, -50px) rotate(270deg) !important;
        }
        &.three-col, &.four-col {
            transform: translate(20px, -50px) rotate(270deg) !important;
        }
        &.five-col, &.six-col, &.seven-col, &.eight-col {
            transform: translate(30px, -50px) rotate(270deg) !important;
        }
        &.nine-col, &.ten-col {
            transform: translate(35px, -50px) rotate(270deg) !important;
        }
    }
    @media (min-width: 415px) {    
        text-align: center;
        vertical-align: bottom;
    }
}

.table-headings-rtl-two-line {
    @media (max-width: 414px) { 
        height: 120px;
        max-width: 1px !important;
        white-space: nowrap;
        transform: translate(-5px, -50px) rotate(270deg);

        &.two-col {
            transform: translate(5px, -50px) rotate(270deg) !important;
        }
        &.three-col, &.four-col {
            transform: translate(15px, -50px) rotate(270deg) !important;
        }
        &.five-col, &.six-col, &.seven-col, &.eight-col {
            transform: translate(25px, -50px) rotate(270deg) !important;
        }
        &.nine-col, &.ten-col {
            transform: translate(30px, -50px) rotate(270deg) !important;
        }
    }
    @media (min-width: 415px) {    
        text-align: center;
        vertical-align: bottom;
    }
}

.table-headings-two-line {
    @media (max-width: 414px) { 
        height: 120px;
        max-width: 1px !important;
        white-space: nowrap;
        transform: translate(90px, 55px) rotate(270deg);

        &.two-col {
            transform: translate(80px, 55px) rotate(270deg) !important;
        }
        &.three-col {
            transform: translate(75px, 55px) rotate(270deg) !important;
        }
        &.four-col, &.five-col {
            transform: translate(65px, 55px) rotate(270deg) !important;
        }
        &.six-col, &.seven-col, &.eight-col {
            transform: translate(60px, 55px) rotate(270deg) !important;
        }
        &.nine-col, &.ten-col {
            transform: translate(55px, 55px) rotate(270deg) !important;
        }

    }
    @media (min-width: 415px) {    
        text-align: center;
        vertical-align: bottom;
    }
}

.effect-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.legend-text {
    font-size: 13px;
    padding: 2px 0 2px 0;
    margin-left: 10px;
    // color: white;
    text-align: left;
}

.button-container {
    height: 50px;
    padding-right: 15px;


}

input[id^="item"]:checked + label {
    background: $nav-button-color;
    color: white;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width: 100%;
}

div .checked {
    background: $nav-button-color;
    color: white;
}

.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.column-sort-info {
    @media (max-width: 414px) {    
        font-size: 12px;    
    }
    @media (min-width: 415px) {    
        font-size: 14px;    
    }
}

.line-break {
    @media (max-width: 414px) {         
        margin-top: -5px;
        display: block;
        content: "";
    }
}

.shaded {
    background-color: #C5EBAB;
}