<div>
    <div class="row col-12 button-container ">
        <div class="dropdown col-4" [class.selected]="showSort">
            <button class="dropbtn" (click)="showSort = !showSort">Sort</button>
            <div class="dropdown-content" >
                <a (click)="sort('az')">Alphabetical <span [innerHTML]="getSortOrderIcon('az')"></span></a>
                <a (click)="sort('benefit')">Benefits <span [innerHTML]="getSortOrderIcon('benefit')"></span></a>
                <a (click)="sort('effect')">Total Effects <span [innerHTML]="getSortOrderIcon('effect')"></span></a>
            </div>
        </div>
        <!-- filter drop down -->
        <div class="dropdown col-4" [class.selected]="showFilter">
            <button class="dropbtn" (click)="showFilter = !showFilter">Filter</button>
            <div class="dropdown-content">
                <div *ngFor="let option of filterOptions; let i = index;" class="p-l-10" [class.checked]="option.checked">
                    <input type="checkbox" name="filterOptions" value="{{option.name}}" [id]="'item' + i" (ngModelChange)="onFilterChange(i, $event)"
                        [disabled]="false" [ngModel]="option.checked" />
                    <label class="m-b-0" [for]="'item' + i">
                    {{option.name}}
                </label>
                </div>
                <hr>
                <a (click)="removeRows()">Hide Selected</a>
                <a (click)="showAllRows()">Unhide All</a>
                <a (click)="saveChart()">Save Chart</a>
            </div>
        </div>

        <!-- spacer -->
        <div class="col-2">
        </div>

        <!-- legend drop down -->
        <div class="dropdown col-2 text-right" [class.selected]="showLegend">
            <button class="dropbtn btn-icon" (click)="showLegend = !showLegend">?</button>
            <div class="dropdown-content">
                <div class="legend-text"><img class="effect-icon" src="../../assets/img/beneficial.png" /> Beneficial Effect</div>
                <div class="legend-text"><img class="effect-icon" src="../../assets/img/assist.png" /> Assists</div>
                <div class="legend-text"><img class="effect-icon" src="../../assets/img/mixed.png" /> Mixed Effects</div>
                <div class="legend-text"><img class="effect-icon" src="../../assets/img/inhibit.png" /> Inhibits</div>
                <div class="legend-text"><img class="effect-icon" src="../../assets/img/negative.png" /> Negative Effect</div>
            </div>
        </div>
    </div>
<div class="table-container-outer">
    <div class="table-container">

        <table class="benefits-table">
            <th style="vertical-align: bottom">
                <span class="legend-text"><img class="effect-icon" src="../../assets/img/beneficial.png" /> Beneficial Effect</span><br>
                <span class="legend-text"><img class="effect-icon" src="../../assets/img/assist.png" /> Assists</span><br>
                <span class="legend-text"><img class="effect-icon" src="../../assets/img/mixed.png" /> Mixed Effects</span><br>
                <span class="legend-text"><img class="effect-icon" src="../../assets/img/inhibit.png" /> Inhibits</span><br>
                <span class="legend-text"><img class="effect-icon" src="../../assets/img/negative.png" /> Negative Effect</span><br>
                <br>
                <span class="first-heading">{{heading}}</span>
            </th>
            <th class="text-vertical" *ngFor="let selectionHeading of selected">
                <div><span>{{selectionHeading}}</span></div>
            </th>

            <tr *ngFor="let item of dataArray; let i = index" [hidden]="item.hidden" [class.row-selected]="item.selected">
                <td (click)="selectItem(item, i)">
                    {{item.item}}
                </td>
                <td class="text-center" *ngFor="let selection of selected" (click)="goToDetails(selection, i)">
                    <div *ngIf="item.values[selection] !== undefined"><img class="effect-icon" [src]="getIcon(item.values[selection])" /></div>
                </td>
            </tr>
        </table>
    </div>
</div>