/*styles for home content only*/
@import '../../styles/variables';

.terms-container {
    margin-bottom: 10px;
    font-size: 10px;
}

.button {
  width: initial;
}

.underline {
    text-decoration: underline;
}