<div [class.page-loading]="(view === 'food') ? dataService.allFoods.length === 0 : dataService.allConditions.length === 0"></div>
<div class="m-t-10">
  <div class="selection-container">
    <div class="checkbox-container">
      <div *ngFor="let item of (searchModel.length > 0) ? itemSet : (view === 'food') ? dataService.allFoods : dataService.allConditions" (click)="(checkedItems < maxSelections || item.checked) && onSelectItem(item)" 
      [class.checked]="item.checked" [class.disabled]="checkedItems >= maxSelections && !item.checked"
      [class.left-justified]="!textService.rightJustify" [class.right-justified]="textService.rightJustify"
      [attr.dir]="textService.rightJustify ? 'rtl' : 'ltr'">
        <span [id]="'item-' + item.item">{{item.displayText}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="row footer">
    <div class="col-12">
      Find: <input type="text" [ngModel]="searchModel" (ngModelChange)="searchValueChanged($event)" />
    </div>
    <div class="col-6">
      <button class="button" [class.btn-disabled]="checkedItems === 0" (click)="deselectAll()">Deselect All</button>
    </div>
    <div class="col-6">
      <button class="button" [class.btn-disabled]="checkedItems === 0"
        (click)="selectItems()">Search</button>
    </div>
  </div>
</div>