<div class="m-t-10">
  <div class="selection-container">
    <div class="checkbox-container">
      <div *ngFor="let item of (searchModel.length > 0) ? itemSet : (view === 'food') ? dataService.allFoods : dataService.allConditions" (click)="(checkedItems < maxSelections || item.checked) && onSelectItem(item)" 
      [class.checked]="item.checked" [class.disabled]="checkedItems >= maxSelections && !item.checked" class="p-l-15">
        <span [id]="'item-' + item.item">{{item.item}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="row footer">
    <div class="col-12">
      {{pageText.search}} <input type="text" [ngModel]="searchModel" (ngModelChange)="searchValueChanged($event)" />
    </div>
    <div class="col-6">
      <button class="button" [class.btn-disabled]="checkedItems === 0" (click)="deselectAll()">{{pageText.deselectAll}}</button>
    </div>
    <div class="col-6">
      <button class="button" [class.btn-disabled]="checkedItems === 0"
        (click)="selectItems()">{{pageText.continue}}</button>
    </div>

  </div>
</div>