@import '../../styles/variables';

.table-container {
    margin-top: 70px;
    margin-bottom: 20px;
}

p {
    font-size: 10px;
}

.effect-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
}