/*styles for home content only*/
@import '../../styles/variables';

// .background {
//     background-color: #4c7c73;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 41px;
//     bottom: 0;
// }

.home-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.home-page-title {
    color: $nav-button-color;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}


.selection-container {
    margin-bottom: 105px;
}

.selection-container > select {
  height: 100%;
}

.checkbox-container {
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.button-row {
    padding-left:24px;
    padding-right:24px;
}

.btn-food {
    background: $nav-button-food;
    font-weight: 900;
    color: $nav-button-food-text;
}

.btn-condition {
    background: $nav-button-condition;
    font-weight: 900;
    color: $nav-button-condition-text;
}

div .checked {
    background: $nav-button-color;
    color: white;
}

div .disabled {
    color: lightgray;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    height: 85px;

    .button {
        margin: 0 25px 0 0;
    }
}

.screen-shot {
    max-height: 168px;
    max-width: 100%;
    
    @media (max-width: 767px) { 
        max-height: 125px;
    }
}

p {
    font-size: 14px;
    
    @media (max-width: 375px) { 
    font-size: 12px;
    }
}

.home-page-title {
    color: $nav-button-color;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

p.search-link {
    color: blue;
    font-size: 14px;
    font-style: italic;
}

p.help-link {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 5px;
}
p.help-link.rtl {
    font-size: 16px;
}
.button-label {
    font-size: 16px;
    @media (max-width: 343px) { 
        font-size: 13px;
     }
}

.button-label.rtl {
    font-size: 18px;
    @media (max-width: 343px) { 
        font-size: 15px;
     }
}

hr {
    margin-bottom: 5px;
}

.translation-globe {
    position: fixed;
    left: 5px;
    top: 46px;
}
.translation-icon {
    height: 24px;
}
.button-icon {
    margin-top:0px;
    height: 40px;
}

.copyright {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    @media (max-width: 343px) { 
        font-size: 9px;
     }
    @media (min-width: 344px) { 
        font-size: 12px;
    }
}

.disclosure {
    color: white;
    text-align: center;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
}