/*styles for home content only*/

.selection-container {
  height: 300px;
}

.selection-container > select {
  height: 100%;
}

.checkbox-container {
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
}
