<div *ngIf="!pageText.headline">
      <div class="loader"></div>
  
      <style>
        .loader,
        .loader:before,
        .loader:after {
          background: #00838F;
          -webkit-animation: load1 1s infinite ease-in-out;
          animation: load1 1s infinite ease-in-out;
          width: 1em;
          height: 4em;
        }
  
        .loader {
          color: #00838F;
          text-indent: -9999em;
          margin: 88px auto;
          position: relative;
          font-size: 11px;
          -webkit-transform: translateZ(0);
          -ms-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
        }
  
        .loader:before,
        .loader:after {
          position: absolute;
          top: 0;
          content: '';
        }
  
        .loader:before {
          left: -1.5em;
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
        }
  
        .loader:after {
          left: 1.5em;
        }
  
        @-webkit-keyframes load1 {
  
          0%,
          80%,
          100% {
            box-shadow: 0 0;
            height: 4em;
          }
  
          40% {
            box-shadow: 0 -2em;
            height: 5em;
          }
        }
  
        @keyframes load1 {
  
          0%,
          80%,
          100% {
            box-shadow: 0 0;
            height: 4em;
          }
  
          40% {
            box-shadow: 0 -2em;
            height: 5em;
          }
        }
      </style>
</div>


<div class="background" *ngIf="pageText.headline">
  <div class="col-12 home-container">
    <div class="row m-t-40">
      <div class="col-12 text-center">
          <img style="max-width: 80%" [attr.src]="textService.language === 'Persian' ? '../../assets/img/title-persian.png' : '../../assets/img/title.png'" />
      </div>
    </div>
      <div class="text-center translation-globe">
          <span style="padding-left: 4px;">
              <a [routerLink]="['/language']"><img class="translation-icon" src="../../assets/img/translation-globe.png"/></a>
            </span>
            <br>
            <span style="font-size: 12px;">
                {{currentLanguageCode}}
              </span>
        </div>
    <!-- <span class="home-page-title" translate="no">{{pageText.headline}}</span> -->
    <div class="text-center m-t-20">
      <img class="screen-shot" src="../../assets/img/home-image.png" (click)="clickHomeImage()"/>
    </div>

    <div class="row m-t-50">
        <!-- <div class="col-1">
        </div> -->
        <div class="col-1">
            <img class="button-icon" src="../../assets/img/conditions-icon.png" />
        </div>
        <div class="col-10 button-row">
            <button class="button btn-condition" [class.btn-selected]="showCondition" (click)="showItemList('condition')">
              <span [class.button-label]="!textService.rightJustify" [class.button-label-rtl]="textService.rightJustify">{{pageText.healthButton}}</span>
            </button>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row m-t-20">
      <div class="col-1">
          <img class="button-icon" src="../../assets/img/foods-icon.png" />
      </div>
      <div class="col-10 button-row">
          <button class="button btn-food" [class.btn-selected]="showFood" (click)="showItemList('food')">
              <span class="button-label" [class.rtl]="textService.rightJustify">{{pageText.foodButton}}</span>
          </button>
      </div>
      <div class="col-1">
      </div>
    </div>


<!--
   <div class="row">
      <div class="col-6">
        <button class="button btn-condition" [class.btn-selected]="showCondition" (click)="showItemList('condition')">
          <span [class.button-label]="!textService.rightJustify" [class.button-label-rtl]="textService.rightJustify">{{pageText.healthButton}}</span>
          </button>
          <br>
      </div>
      <div class="col-6">
        <button class="button btn-food" [class.btn-selected]="showFood" (click)="showItemList('food')">
          <span class="button-label" [class.rtl]="textService.rightJustify">{{pageText.foodButton}}</span>
          </button>
      </div>
    </div>
-->
<!-- 
    <br>
    <p class="help-link" [class.rtl]="textService.rightJustify">
      <a style="float: left" href="../../assets/docs/HFF users guide.pdf">{{pageText.helpLink}}</a>
      <a style="float: right" href="../../assets/docs/HFF examples.pdf">{{pageText.examplesLink}}</a>
    </p> -->
  </div>
  <div class="copyright m-t-50">
    <span>Powered by Health Foods Matrix &copy; 2017</span>
    </div>
    <div [hidden]="footerMargin" class="disclosure">
        <span>The content on this website is provided for your information only and should not be used for diagnosing or treating a health problem. It is not intended as a substitute for the advice provided by physicians or healthcare professionals. </span>
    </div>
</div>