@import '../../styles/variables';

.button-container {
    height: 60px;
}

.benefits-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.benefits-table {
    border: 1px solid #ccc;
    font-size: 12px;
}

.benefits-table th, .benefits-table tbody td {
    border: 1px solid #ccc;
    font-size: 12px;

    @media (max-width: 320px) { 
        font-size: 10px;
        max-width: 40px;
     }

    @media (min-width: 321px) and (max-width: 767px) { 
        max-width: 60px;
     }
}

.table-container {
    margin-top: 140px;
    margin-bottom: 20px;

}

.table-container-outer { position: relative; }

.table-container-fade-top
{
	position: fixed;
	top: 120px;
	height: 20px;
	width: 100%;
	background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
	background-image: -moz-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
	background-image: -ms-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.5), #fff);
}

.table-container-fade-bottom
{
	position: fixed;
	bottom: 0;
	height: 20px;
	width: 100%;
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
	background-image: -ms-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,.5), #fff);
}

.fade-bottom-menu-show {
    bottom: 50px;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}
.fade-bottom-menu-hide {
    bottom: 0;
}

.benefits-table tr {
    border-bottom: 1px solid #ddd;
}

.benefits-table tr:nth-child(odd) {
    background-color: #fff
}

.benefits-table tr:nth-child(even) {
    background-color: #f1f1f1
}

.row-selected {
    background-color: $nav-button-color !important;
}

.effect-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.legend-text {
    font-size: 12px;
    padding: 2px 0 2px 0;
    margin-left: 10px;
    color: white;
}

.button-container {
    height: 50px;
    padding-right: 15px;

    .button {
        float: left;
        width: 33.33%;
    }
}

.header {
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}

.bottom-menu-margin {
    margin-bottom: 70px;
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.show {
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}
